{% extends "base.html" %}
{% load staticfiles %}
{% block title %}My Account{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
        <h3> 我的基本信息 </h3>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>昵称</th>
                        <th>电话</th>
                        <th>E-mail</th>
                        <th>地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.user.username }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.nickname }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-9 col-md-offset-1">
        <h3> 借阅历史 </h3>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>书名</th>
                        <th>借书日期</th>
                        <th>归还日期</th>
                        <th>应还日期</th>
                        <th>过期天数</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for bi, dl, fi in zipl %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ bi.book.name }}</td>
                        <td>{{ bi.BorrowDate|date:"Y-m-d" }}</td>
                        <td>{{ bi.ReturnDate|date:"Y-m-d" }}</td>
                        <td>{{ dl|date:"Y-m-d" }}</td>
                        <td>$ {{ fi }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>没有借阅记录</td>
                    </tr>
                    {% endfor %}
                   
                    
                </tbody>
             </table>
            </div>
        <div class="col-md-9 col-md-offset-1">
        <h3> 预约请求 </h3>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>书名</th>
                        <th>预约有效期</th>
                        <th>请求状态</th>
                        <th>地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.user.username }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.nickname }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}
