{% extends "base.html" %}
{% load staticfiles %}
{% block title %}My Account{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            <h3 id="left"> 我的基本信息 </h3>
            <p id="right"><a class="btn btn-primary" id="id_revise" href="/modifybaseinfo/" role="button">编辑</a></p>
        </div>
        <br />

        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <div class="form-horizontal">
                <div class="form-group">
					<label for="id_author" class="col-md-3 control-label">姓名：</label>
					<div class="col-md-9">
						<p  id="id_username">{{user.user.username }}</p>
					</div>
				</div>

				<div class="form-group">
					<label for="id_typ" class="col-md-3 control-label">昵称：</label>
					<div class="col-md-9">
						<p id="id_nickname">{{ user.nickname }}</p>
					</div>
				</div>

				<div class="form-group">
					<label for="id_price" class="col-md-3 control-label">E-mail：</label>
					<div class="col-md-9">
						<p id="id_email">{{ user.user.email }}</p>
					</div>
				</div>

				<div class="form-group">
					<label for="id_pubdate" class="col-md-3 control-label">电话：</label>
					<div class="col-md-9">
						<p id="id_phone" >{{user.phone }}</p>
					</div>
				</div>
                <div class="form-group">
					<label for="id_pubdate" class="col-md-3 control-label">地址：</label>
					<div class="col-md-9">
						<p id="id_address">{{ user.address }}</p>
					</div>
				</div>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <h3 id="left"> 我的流通 </h3>
        </div>
        <br />
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <table class="table table-hover">
                    <tr>
                        <th>外借</th>
                        <td><a href="/borrow/">{{ borrow_num }}</a></td>
                    </tr>
                    <tr>
                        <th>借阅历史</th>
                        <td><a href="/borrowhistory/">{{ borrowhistory_num }}</a></td>
                    </tr>
                    <tr>
                        <th>预约请求</th>
                        <td><a href="/reservation/" >{{ reservation_num }}</a></td>
                    </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
